@*
 * This template is called from the `pokewelcome` template. This template
 * handles the rendering of the page header and body tags. It takes
 * a single argument `List` of pokemons to display.
 * 
 * @(pokemons: List[Pokemon])
 * @main("My pokemons") {
 *  <ul class="pokemons">
 *    @for(pokemon <- pokemons) {
 *      <li>@pokemon.name: @pokemon.category</li>
 *    }
 *  </ul>
 * }
 *@


@(l: List[pk.Pokemon])
@main("My pokemons") {
IT DOESN'T WORK
<ul class="pokemons">
  @for(p <- l) {
    <li>@p.name</li>
  }
</ul>
}


