@*
 * This template is for the detailed view page of a pokemon and takes a String containing the page title and required
* packages.
 *@
@(title: String, webJarAssets: WebJarAssets, requireJS: org.webjars.play.RequireJS)

@*
 * Call the `main_react` template with three arguments. The first
 * argument is a `String` with the title of the page, the rest ones are packages to be imported.
 * Here we include each one of our reactJS component as scripts
 *@
@* TODO update components - only components for pokecards*@
@main_react(title, webJarAssets, requireJS) {
    @* Include each one of our reactJS components of the initial webpage as scripts *@
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/components/Autocomplete.js")'></script>

  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/utils/Pokemon.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/utils/PokemonList.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/utils/Pokecard.js")'></script>

  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/components/Navbar.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/components/Header.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/components/Portfolio.js")'></script>

  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/components/About.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/components/Footer.js")'></script>

  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/components/Tweets.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/components/Pokepage.js")'></script>
}
