@*
 * This template is called from the `index` template. This template
 * handles the rendering of the page header and body tags. It takes
 * two arguments, a `String` for the title of the page and an `Html`
 * object to insert into the body of the page.
 *@
@(title: String)(content: Html)

@*
 * Call the URL method from the org.webjars.play.WebJars.Util library.
 * Injecting an instance here will allow it to be used to get a reverse route to
 * an asset.
 * See https://www.webjars.org/documentation
 *@

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Pokecards website">
        <meta name="author" content="Claudia Tavares">

        @* Here's where we render the page title `String`. *@
        <title>@title</title>

        @* Theme CSS from StartBootstrap website *@
        <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/freelancer.css")">

        @* Add the favicon *@
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">

        @* Use Bootstrap library. *@
        <link rel='stylesheet' href="@routes.WebJarAssets.at("css/bootstrap.min.css")">

        @* Custom Fonts *@
        <link href="@routes.Assets.versioned("font-awesome/css/font-awesome.min.css")" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

        @* HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries *@
        @* WARNING: Respond.js doesn't work if you view the page via file:// *@
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
         <![endif]-->

        @* Script for jQuery *@
        <script
        src="https://code.jquery.com/jquery-3.2.1.js"
        integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
        crossorigin="anonymous"></script>

        @* Use react library. *@
        @* See http://ticofab.io/react-js-tutorial-with-play_scala_webjars/ *@
        @* See https://stackoverflow.com/questions/28347769/why-cant-i-access-the-file-react-js-from-the-react-0-12-2-webjar *@
        @* <script type='text/javascript' src='@routes.WebJarAssets.at("lib/react/react.js")'></script>*@

        @*<link
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
        <script
          src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
          integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>*@
    </head>
    <body>
        @* And here's where we render the `Html` object containing the page content. *@
        @content

        @* jQuery *@
        <script src="@routes.Assets.versioned("jquery/jquery.min.js")"></script>

        @* Bootstrap Core JavaScript *@
        @*<script src="@routes.WebJarAssets.at("js/bootstrap.min.js")"></script>*@

        @* Plugin Ajax *@
        @*
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jqu‌​ery.min.js"></script‌​>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>*@

        @* Theme JavaScript *@
        <script src="@routes.Assets.versioned("javascripts/freelancer.js")"></script>
    </body>
</html>
