@(pokemon: pk.Pokemon, brothers: List[String], stats: List[(String, Int)])

@main("@(pokemon.name) (@(pokemon.id)"){
@(pokemon.height)
@(pokemon.weight)
@(pokemon.base_experience)

<h3>Stats (5 first brothers) </h3>
<ul>
@for((s, n) <- stats) {
    <li>@s : @n</li>
    }
</ul>
<h3>Same type: brothers</h3>
<ul>
@for(b <- brothers) {
    <li>@b</li>
    }
</ul>
<h2>Stats</h2>
<ul>
@for(s <- pokemon.stats){
    <li>@(s.stat.name) : @(s.base_stat) -- @(s.effort) </li>
}
</ul>

<h2>Abilities</h2>
<ul class="list-group">
    @for(a <- pokemon.abilities){
    <li class="list-group-item">@(a.ability.name) : @(a.slot) </li>
    }
</ul>

<h2>Moves</h2>
<ul>
    @for(m <- pokemon.moves){
    <li>@(m.move.name)</li>
    }
</ul>


<h2>Sprites</h2>
<ul>
    <li><img src="@(pokemon.sprites.front_default)" alt=""/></li>
</ul>
}
