@(message: String, style: String = "scala", pokelist: List[pk.Pokemon]) 

@defining(play.core.PlayVersion.current) { version =>

<link rel="stylesheet" media="screen" href="/@@documentation/resources/style/main.css">

<section id="top">
  <div class="wrapper">
    <h1><a href="https://playframework.com/documentation/@version/Home">@message</a></h1>
  </div>
</section>

<div id="content" class="wrapper doc">
<article>

  <h1>Welcome to Pokecards again</h1>

  <div>
    <!-- A textarea as an input form -->
    <textarea id="foo">
Hello!!
    </textarea>
    <button id="b">ClickMe</button>
    <div id="bar">
      <p></p>
    </div>
  </div>

  <p>
  Congratulations, you’ve just created a new Play application. This page will help you with the next few steps.
  </p>

  @*@pokemons.list(Pokemon.pokemons)*@
  @pokemons.list(pokelist)
  

  <blockquote>
    <p>
      You’re using Play @version
    </p>
  </blockquote>
</article>

</div>

<!-- Script to pick an input in a HTML textarea -->
<script src="@routes.Assets.versioned("javascripts/test.js")" type="text/javascript"></script>
}
